<h2>{{pool.name}}</h2>

<div class="row" ng-repeat="p in pool.players">
	<div class="col-md-12">
		<table class="table">
			<thead>
			<tr>
				<th colspan="{{maxContestantsPerPlayer}}"><h3 class="player-header">{{p.name}}</h3><hr/></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="contestant contestant-{{c.status}}"
					ng-repeat="c in p.contestants"><div class="crop"><img
						src="{{c.pic}}"/></div> {{c.name}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
