<h2>{{pool.name}}</h2>

<div class="panel panel-default" ng-repeat="p in pool.players">
    <div class="panel-heading">{{p.name}}</div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-{{12 / maxContestantsPerPlayer}} contestant contestant-{{c.status}}"
                     ng-repeat="c in p.contestants">
                    <div class="crop"><img
                            src="{{c.pic}}"/></div>
                    {{c.name}}
                </div>
            </div>
        </div>
    </div>
</div>