<div class="row">
    <div class="col-md-6">
        <img src="https://upload.wikimedia.org/wikipedia/en/f/f4/Survivor_Winners_at_War_logo.png" width="560" />
    </div>
    <div class="col-md-6">
        <h2>Welcome to Survivor Pools!</h2>
        <p>Like watching survivor? Like competing with your friends and
            following your favorite castaways? Let us track it for you. Signing
            up for a new pool is easy, fast, and FREE! Click 'Create a Pool'
            below to get started.</p>

        <p>The current season, Winners at War, starts on Wednesday, February 12th!
            Catch every Wednesday night at 8PM EST!</p>

        <hr />
        <a href="#/pool/create"><button class="btn btn-primary btn-lg">Create a Pool</button></a>
        <a href="#/pools"><button class="btn btn-success btn-lg">Find a Pool</button></a>
    </div>
</div>