<h2>Update Contestant Status</h2>

<p>Use this form to update a player's status in the season. This only works if you have the admin password.</p>

<div class="form-horizontal create-pool-form">
    <div class="form-group">
        <label for="contestant" class="col-md-2">Contestant to Update</label>
        <div class="col-md-5">
            <select ng-options="contestant for contestant in vm.contestants" ng-model="vm.selectedContestant">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-md-2">Admin Password</label>
        <div class="col-md-5">
            <input type="password" class="form-control" value="" id="adminPassword" ng-model="vm.adminPassword" />
        </div>
    </div>
    <div class="form-group">
        <label for="status" class="col-md-2">Status</label>
        <div class="col-md-5">
            <select id="status" ng-model="vm.status">
                <option value="eliminated" selected="selected">Eliminated</option>
                <option value="active">Active</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
            <button class="btn btn-primary" ng-click="vm.submit()">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" ng-show="vm.resultMessage">
            <span class="alert alert-success success-text">{{vm.resultMessage}}</span>
        </div>
        <div class="col-md-4" ng-show="vm.errorMessage">
            <span class="alert alert-danger error-text">{{vm.errorMessage}}</span>
        </div>        
    </div>
</div>