.contestant {
    color: white;
    padding: 10px;
    border: 1px solid white;
}

.contestant-active {
    background-color: #2e6da4;
}

.contestant-eliminated {
    background-color: #d9534f;
}

.create-pool-form {
    padding-top: 10px;
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.pool-panel ul[dnd-list],
.pool-panel ul[dnd-list]>li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.pool-panel ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.pool-panel ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.pool-panel ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.pool-panel ul[dnd-list] li {
    /* background-color: #fff; */
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/*
 * Used to crop the castaway pics.
 */
.crop {
    width: 60px;
    height: 100px;
    overflow: hidden;
}

.crop img {
    width: 180px;
    height: 100px;
    margin: 0 -60px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}