<h2>Create a new pool</h2>

<div class="form-horizontal create-pool-form">
    <div class="form-group">
        <div class="col-md-6">
            Add some friends to your pool (don't forget yourself)! Then drag and
            drop the castaways to your friends. Hit 'Create' when you're all done.
        </div>
    </div>
    <div class="form-group row">
        <label for="poolName" class="col-md-2">Pool Name</label>
        <div class="col-md-5">
            <input type="text" class="form-control" value="My new survivor pool" id="poolName" ng-model="vm.pool.name" />
        </div>
    </div>
    <div class="form-group row">
        <label for="newPlayer" class="col-md-2">Add a friend</label>
        <div class="col-md-4">
            <input type="text" class="form-control" value="Someone's name" id="newPlayer" ng-model="vm.newPlayer" />
        </div>
        <div class="col-md-1">
            <button class="btn btn-success" ng-click="vm.addPlayer()">Add
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2 col-md-offset-1">
            <button class="btn btn-primary" ng-click="vm.submit()">Create</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12" ng-show="vm.err">
            <span class="alert alert-danger error-text">{{vm.err}}</span>
        </div>
    </div>
<hr />
<div class="pool-panel row">
    <div class="col-md-8 pre-scrollable">
        <div class="row">
            <div ng-repeat="player in vm.pool.players" class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="panel-title">{{player.name}}</h3>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="close" aria-label="Close" ng-click="vm.removePlayer(player.name)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul dnd-list="player.contestants">
                            <li ng-repeat="castaway in player.contestants" dnd-draggable="castaway" dnd-moved="vm.playerContestantMoved(player, $index)" dnd-effect-allowed="move" dnd-selected="vm.contestantSelected(castaway)" class="contestant contestant-{{castaway.status}}" ng-class="{selected: vm.isSelectedContestant(castaway)}"><img class="castaway-pic" src="{{castaway.pic}}" width="70" height="90" />
                                {{castaway.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 pre-scrollable">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cast aways</h3>
            </div>
            <div class="panel-body">
                <ul dnd-list="vm.unassignedContestants">
                    <li ng-repeat="castaway in vm.unassignedContestants" dnd-draggable="castaway" dnd-moved="vm.contestantMoved($index)" dnd-effect-allowed="move" dnd-selected="vm.contestantSelected(castaway)" class="contestant contestant-{{castaway.status}}" ng-class="{selected: vm.isSelectedContestant(castaway)}">
                        <img class="castaway-pic" src="{{castaway.pic}}" width="70" height="90" /> 
                        {{castaway.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
