<p>Here's the current list of Survivor pools. Find yours by searching for the name.</p>

<p>Once you find it, don't forget to bookmark it so you can straight there next time!</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pool in vm.pools">
            <td>{{pool.name}}</td>
            <td><a href="#/pool/{{pool.url}}">View</a></td>
        </tr>
    </tbody>
</table>