<h2>{{vm.pool.name}}</h2>

<div class="panel panel-default" ng-repeat="p in vm.pool.players">
    <div class="panel-heading">
        <h3 class="panel-title">{{p.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-{{12 / vm.maxContestantsPerPlayer}} contestant contestant-{{c.status}}" ng-repeat="c in p.contestants">
                    <img class="castaway-pic" src="{{c.pic}}" width="70" height="90" />
                    {{c.name}}
                </div>
            </div>
        </div>
    </div>
</div>